@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fiore</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/css/bootstrap-utilities.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Fiore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-betweencol-sm-10 text-center menu-1">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark blank-nav-item"></a>
                        </li>
                        <li class="nav-link ">
                            Categories
                            @* <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item"><a class="nav-link text-dark hide all"  asp-action="Index" asp-controller="Products"> All</a></li>
                                <li class="nav-item"> <a class="nav-link text-dark green"  asp-action="Index" asp-controller="Home" asp-route-filtro="Green"> Green</a></li>
                                <li class="nav-item"> <a class="nav-link text-dark cactus"  asp-action="Index" asp-controller="Home" asp-route-filtro="Cactus"> Cactus</a></li>
                                <li class="nav-item"> <a class="nav-link text-dark winter"  asp-action="Index" asp-controller="Home" asp-route-filtro="Winter"> Winter</a></li>
                                <li class="nav-item"> <a class="nav-link text-dark tulip"  asp-action="Index" asp-controller="Home" asp-route-filtro="Tulip"> Tulips</a></li>
                                </ul>*@
                        </li>
                       
                        <li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="ViewCart">View Cart</a>

                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Fiore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   
    @await RenderSectionAsync("Scripts", required: false)
    
    <script type="text/javascript" src="~/js/bootstrap.js" ></script>
    <script type="text/javascript" src="~/js/jquery.js" ></script>
   
</body>
</html>
