@model IEnumerable<Fiore.Models.ViewModels.OrderProductsViewModel>

<html>
<body>
    <h3 class="text-center">Your order products</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ProductName
                </th>

                <th>
                    UnitPrice
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Subtotal
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.UnitPrice
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.SubtotalPrice
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>