@model IEnumerable<Fiore.Models.CartItem>

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>Your Order Products</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="width:80%;margin-top:50px; margin-bottom:50px">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="section-title">
                <h3><span class="orange-text">Order</span> Productd</h3>
            </div>
        </div>
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th class="text-center" colspan="5"><b>Your order products</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   <td class="text-center">Image</td>
                    <td>Product Name </td>
                    <td>Unit Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="product-image text-center"><img src="~/img/Products/@item.Product.Category.CategoryName/@item.Product.ImageName"></td>
                        <td>@item.Product.ProductName</td>
                        <td>$@item.Product.UnitPrice</td>
                        <td>@item.Quantity</td>
                        <td>$@item.Subtotal </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



