@using Fiore.Models.ViewModels
@model List<CartItem>

@{
    decimal TotalPrice = 0;
}

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>Check Out </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- check out section -->
<!-- check out section -->
@if(@Model!=null)
{
    <div class="checkout-section mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-accordion-wrap">
                        <div class="accordion" id="accordionExample">
                            <div class="card single-accordion">
                                @await Html.PartialAsync("~/Views/Orders/Create.cshtml", new AddressViewModel())
                            </div>
                            <div class="card single-accordion">
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="card-details">
                                            <p>Your card details goes here.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="order-details-wrap">
                        <table class="order-details">
                            <thead>
                                <tr>
                                    <th><b>Product</b></th>
                                    <th><b>Price</b></th>
                                </tr>
                            </thead>
                            <tbody class="order-details-body">
                                @foreach (var item in Model)
                                {
                                    TotalPrice = TotalPrice + @item.Subtotal;
                                    <tr>
                                        <td>@item.Product.ProductName</td>
                                        <td>@item.Subtotal</td>
                                    </tr>
                                }
                            </tbody>
                            <tbody class="checkout-details">
                                <tr>
                                    <td><b>Total</b></td>
                                    <td>@TotalPrice</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
     <div style="height: 400px">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-0">
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="cart-table-wrap text-center" style="margin-top: 8rem!important">
                        <h2>Empty shopping cart</h2>
                    </div>
                </div>
                <div class="col-lg-2 col-md-0">
                </div>
            </div>
        </div>
    </div>
}