@model Fiore.Models.ViewModels.ComplaintViewModel

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                        <h1>Complaint</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="checkout-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-accordion-wrap">
                    <div class="accordion" id="accordionExample">
                        <div class="card single-accordion">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Create Complaint
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="billing-address-form">
                                        <form asp-action="Create" method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                            <div >
                                                <label asp-for="Subject" class="form-label"></label>
                                                <input asp-for="Subject" class="form-control" />
                                                <span asp-validation-for="Subject" class="text-danger"></span>
                                            </div>
                                            <div >
                                                <label asp-for="Description" class="form-label"></label>
                                                <input asp-for="Description" class="form-control" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                            <div>
                                                <label asp-for="PhoneNumber" class="form-label"></label>
                                                <input asp-for="PhoneNumber" class="form-control" />
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>

                                            <div style="margin-top:10px">
                                                <input type="submit" value="Create" class="btn btn-primary" /> |
                                                <a  asp-action="Index" asp-controller="Complaints">Cancel</a>

                                            </div>
                                        </form>
                                        <div style="margin-top:20px; margin-left:500px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}